<!doctype html>
<html lang="en">
    <title>Payment Successful</title>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="EnR provides custom game development services that include
     building of stunning 2D and 3D games with creative visualization & addictive gameplay, in
      accordance with latest game directions and design trends.">

  <meta name="robots" content="noindex">
  <!--change to index when site is ready to index -->
  <meta name="robots" content="follow">
  <link rel="canonical" href="https://engagenreap.com/game-development.html">
  <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

  <!-- Main css -->
  <link rel="stylesheet" href="css/style.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="./images/logo2.png" type="image/icon type">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="./game-development.css">
  <!-- <link rel="stylesheet" href="./css/style.css"> -->

</head>
<style>
    .tick
    {
        font-size: 125px;
        color: green;
       
    }

    h1
    {
        font-family: Arial Black;
        color: green;
        font-size: 60px;

    }

.btn
{
    font-size: 30px;
    font-family: Lucida-fax;
}

.btn:hover
{
    transform: scale(1.1);
    border: 2px solid black;
    text-decoration: underline;
    text-transform: uppercase;
}
</style>
<body>
<div class="conatiner">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <br><br><br><br><br>
         <center><span style='font-size:100px;'>&#9989;</span><br>
            <h1 class="text-center" > Your payment<br> was successful</h1><br>
            <form action="/welcome">
            <button class="btn btn-info">Go back</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>