<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <meta name="description" content="EnR provides custom game development services that include
     building of stunning 2D and 3D games with creative visualization & addictive gameplay, in
      accordance with latest game directions and design trends.">

    <meta name="robots" content="noindex">       <!--change to index when site is ready to index -->
    <meta name="robots" content="follow">
    <link rel="canonical" href="https://engagenreap.com/game-development.html">

    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="./images/logo2.png" type="image/icon type">

    <link rel="stylesheet" href="./game-development.css">
    <!-- <link rel="stylesheet" href="./css/style.css"> -->

    <title>Sign Up Form</title>
    <style>
        body
        {
         width: 100%;
         font-family: Lucida Fax;   
         
         height: 100%;
        }

       
       

        .fig
        {
            border: 20px solid red;
            border-bottom-right-radius: 20%;
            border-top-left-radius: 20%;
        }

        h1
        {
            color: red;
            font-weight: 900;
        }

        .nav-link:hover
{
	background:red;
}

a
{
    font-size: 20px;
}

input:hover
{
    transform: scale(1.1);
}

.btn:hover
{
    transform: scale(1.7);
}
    </style>
</head>

<body> 
 
      <form action="/withdraw" method="GET">
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <center> <h1>Withdraw Money from Account</h1>
                    <h4>Use this form to withdraw your money. Minimal withdrawl is $25.00</h4>
                    <h4>We have set minimal withdraw amount to avoid different fradulent actions and money laundering</h4>
    </div>
</div><br>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg--12">
      <center> <figure style="border: 2px solid red; width: 60%; border-radius: 20%;">
        <h3>Money Available: &nbsp;&nbsp;&nbsp;    <input type="text" value="{{results}}" readonly style="color: red;"></h3>
        <h3>Amount to Withdraw:  <input type="text" style="color: red;"></h3>
        <h3>Withdraw To:</h3>
           <h3> <select>
                <option value="Perfect Money USD">Perfect Money USD</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        <br><br><br>
    <button class="btn btn-danger">Submit</button><br> <br>    
    </form>
    <form action="/game" method="GET">   
    <button class="btn btn-danger" action="/game" type="submit">Go Back</button><br> <br>     
    </form>
    </figure>
    </div>
</div>



    </div>
      </body>
</html>